<template>
  <section id="about" class="about">
    <div class="container">
      <b-row>
        <b-col md="5">
          <div class="serambi-untung-logo">
            <img src="/img/serambi-pastiuntung.png" alt="serambi-pastiuntung" />
          </div>
          <div class="serambi-untung-logo-2 mt-5">
            <img src="/img/umkmgo.png" alt="serambi-pastiuntung" />
          </div>
        </b-col>
        <b-col md="7">
          <div class="right">
            <div class="title">
              <h1>Tentang Usaha Serambi Masjed</h1>
              <div class="description">
                Usaha Serambi Masjed dapat Membantu Bisnis Anda berjalan lebih
                Efisien dan Efektif, Kelola Bisnis Anda dengan Mudah bersama
                Usaha Serambi Masjed.
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </div>
    <img src="/img/slice-right-2.png" class="slice-right-2" />
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/responsive.scss';

.about {
  position: relative;
  padding: 100px 0px 250px 0px;
  .serambi-untung-logo {
    img {
      display: block;
      margin: 0 auto;
      height: 150px !important;

      @include mobile-s {
        height: 100px !important;
      }

      @include mobile-m {
        height: 100px !important;
      }

      @include mobile-l {
        height: 120px !important;
      }

      @include tablet {
        height: 150px !important;
      }
    }
  }

  .serambi-untung-logo-2 {
    margin-bottom: 50px;
    img {
      display: block;
      margin: 0 auto;
      height: 100px !important;

      @include mobile-s {
        height: 50px !important;
      }

      @include mobile-m {
        height: 50px !important;
      }

      @include mobile-l {
        height: 50px !important;
      }

      @include tablet {
        height: 50px !important;
      }
    }
  }

  .right {
    h3 {
      font-size: 30px !important;
      font-weight: bold;
      font-size: 30px;
    }
  }

  .slice-right-2 {
    position: absolute;
    bottom: -45%;
    right: 0px;
    z-index: 1;
    height: 150%;

    @include mobile-s {
      bottom: -9%;
      height: 30%;
    }

    @include mobile-m {
      bottom: -12%;
      height: 50%;
    }

    @include mobile-l {
      bottom: -20%;
      height: 70%;
    }

    @include tablet {
      bottom: -25%;
      height: 80%;
    }
  }
}
</style>
