<template>
  <section class="easy-use">
    <div class="container">
      <div class="d-none d-md-block">
        <b-row>
          <b-col md="5">
            <div class="left">
              <h3 class="title">
                Mudahnya menggunakan <br />
                Usaha Serambi Masjed
              </h3>
              <SizedBox :height="20" />
              <div class="store">
                <a
                  href="https://play.google.com/store/apps/details?id=id.jos.usahaserambi"
                  target="_blank"
                >
                  <img src="/img/playstore-logo.png" alt="" />
                </a>
                <!-- <img src="/img/applestore-logo.png" alt="applestore" /> -->
              </div>
              <SizedBox :height="20" />
            </div>
          </b-col>
          <b-col md="7">
            <div>
              <div class="slide-product">
                <VueSlickCarousel v-bind="settings">
                  <div class="item">
                    <div class="item-content">
                      <div class="head"></div>
                      <div class="body">
                        <img src="/img/daftar-1.png" alt="daftar" />
                        <h5>Daftar Akun</h5>
                        <p>Mudahnya mendaftarkan <br />akun anda.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item-content">
                      <div class="head"></div>
                      <div class="body">
                        <img src="/img/daftar-2.png" alt="daftar" />
                        <h5>Manajemen Stok</h5>
                        <p>
                          Tampilan yang memudahkan anda untuk mengatur UMKM
                          Anda.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item-content">
                      <div class="head"></div>
                      <div class="body">
                        <img src="/img/layanankeagenan.png" alt="daftar" />
                        <h5>Layanan Keagenan</h5>
                        <p>Penghasilan tambahan selain dari UMKM anda.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item-content">
                      <div class="head"></div>
                      <div class="body">
                        <img src="/img/strukdigital.png" alt="daftar" />
                        <h5>Struk Digital</h5>
                        <p>Kemudahan dalam pencatatan laba rugi UMKM anda.</p>
                      </div>
                    </div>
                  </div>
                </VueSlickCarousel>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
      <div class="d-md-none d-md-block">
        <b-row>
          <b-col md="12">
            <div>
              <div class="slide-product">
                <VueSlickCarousel v-bind="settings">
                  <div class="item">
                    <div class="item-content">
                      <div class="head"></div>
                      <div class="body">
                        <img src="/img/daftar-1.png" alt="daftar" />
                        <h5>Daftar Akun</h5>
                        <p>Mudahnya mendaftarkan <br />akun anda.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item-content">
                      <div class="head"></div>
                      <div class="body">
                        <img src="/img/daftar-2.png" alt="daftar" />
                        <h5>Manajemen Stok</h5>
                        <p>
                          Tampilan yang memudahkan anda untuk mengatur UMKM
                          Anda.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item-content">
                      <div class="head"></div>
                      <div class="body">
                        <img src="/img/layanankeagenan.png" alt="daftar" />
                        <h5>Layanan Keagenan</h5>
                        <p>Penghasilan tambahan selain dari UMKM anda.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item-content">
                      <div class="head"></div>
                      <div class="body">
                        <img src="/img/strukdigital.png" alt="daftar" />
                        <h5>Struk Digital</h5>
                        <p>Kemudahan dalam pencatatan laba rugi UMKM anda.</p>
                      </div>
                    </div>
                  </div>
                </VueSlickCarousel>
              </div>
            </div>
          </b-col>
          <b-col md="23">
            <div class="left">
              <SizedBox :height="70" />
              <h3 class="title">Mudahnya menggunakan Usaha Serambi Masjed</h3>
              <SizedBox :height="20" />
              <div class="store">
                <a
                  href="https://play.google.com/store/apps/details?id=id.jos.usahaserambi"
                  target="_blank"
                >
                  <img src="/img/playstore-logo.png" alt="" />
                </a>
                <!-- <img src="/img/applestore-logo.png" alt="applestore" /> -->
              </div>
              <SizedBox :height="20" />
            </div>
          </b-col>
        </b-row>
      </div>
    </div>
  </section>
</template>

<script>
// Vue Slick Carousel
import VueSlickCarousel from 'vue-slick-carousel';
import 'vue-slick-carousel/dist/vue-slick-carousel.css';
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css';

import SizedBox from '../../../components/SizedBox.vue';
export default {
  components: { SizedBox, VueSlickCarousel },
  data() {
    return {
      settings: {
        arrows: false,
        dots: true,
        dotsClass: 'slick-dots custom-dot-class',
        edgeFriction: 0.35,
        infinite: true,
        speed: 500,
        slidesToShow: 2,
        slidesToScroll: 1,
        centerMode: true,
        centerPadding: '50px',
        autoplay: true,
        responsive: [
          {
            breakpoint: 1025,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              centerPadding: '110px',
            },
          },
          {
            breakpoint: 769,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              centerPadding: '50px',
            },
          },
          {
            breakpoint: 426,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              centerPadding: '30px',
            },
          },
          {
            breakpoint: 376,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              centerPadding: '0px',
            },
          },
          {
            breakpoint: 321,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              centerPadding: '0px',
            },
          },
        ],
      },
    };
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/responsive.scss';

@mixin center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.easy-use {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f8f8fc;
  .left {
    @include center;
    .title {
      font-weight: bold;
      font-size: 36px;
    }
  }

  .slide-product {
    .item {
      display: block;
      width: 260px !important;

      @include mobile-s {
        width: 100% !important;
      }

      @include mobile-m {
        width: 100% !important;
        padding: 0px 10px;
      }

      @include mobile-l {
        width: 280px !important;
      }

      @include tablet {
        width: 290px !important;
      }

      .item-content {
        background: #fff;
        border-radius: 10px;
        .head,
        .body {
          padding: 10px;
        }

        .head {
          background: #e7e7f0;
          height: 180px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        .body {
          height: 316px;
          position: relative;
          padding-top: 200px;

          @include mobile-s {
            height: 280px !important;
            padding-top: 170px;
          }

          @include mobile-m {
            height: 310px !important;
          }

          @include mobile-l {
            height: 310px !important;
          }

          @include tablet {
            height: 310px !important;
          }

          img {
            position: absolute;
            left: 0px;
            right: 0px;
            margin: 0 auto;
            top: -120px;
            display: block;
            height: 300px;

            @include mobile-s {
              top: -160px;
              height: 300px !important;
            }

            @include mobile-m {
              top: -160px;
              height: 340px !important;
            }

            @include mobile-l {
              top: -160px;
              height: 340px !important;
            }

            @include tablet {
              top: -160px;
              height: 340px !important;
            }
          }

          h5,
          p {
            text-align: center;
          }

          h5 {
            font-weight: bold;
            @include mobile-s {
            }

            @include mobile-m {
            }

            @include mobile-l {
            }

            @include tablet {
            }
          }

          p {
            @include mobile-s {
            }

            @include mobile-m {
            }

            @include mobile-l {
            }

            @include tablet {
            }
          }
        }
      }
    }
  }
}
</style>
