<template>
  <section class="faq">
    <div class="container">
      <b-row>
        <b-col md="6">
          <div class="title d-none d-md-block">
            <h1>Pertanyaan Seputar <br />Usaha Serambi Masjed</h1>
          </div>
          <div class="title d-md-none d-md-block">
            <h1>Pertanyaan Seputar Usaha Serambi Masjed</h1>
          </div>
          <SizedBox :height="30" />
        </b-col>
        <b-col md="6">
          <div class="accordion" role="tablist">
            <b-card no-body class="mb-1">
              <b-card-header
                header-tag="header"
                class="head-faq"
                role="tab"
                v-b-toggle.accordion-1
              >
                <h1>Apa itu Usaha Serambi Masjed ?</h1>
                <span class="when-opened">
                  <font-awesome-icon icon="sort-down" />
                </span>
                <span class="when-closed">
                  <font-awesome-icon icon="sort-up" />
                </span>
              </b-card-header>
              <b-collapse
                id="accordion-1"
                visible
                accordion="my-accordion"
                role="tabpanel"
              >
                <b-card-body>
                  <b-card-text>
                    Usaha Serambi Masjed adalah sistem Point Of Sale yang dapat
                    membantu aktivitas penjualan offline di toko anda. Usaha
                    Serambi Masjed menyediakan layanan dengan fitur lengkap
                    yakni laporan transaksi harian, kegiatan promosi, pengaturan
                    penyimpanan & persediaan barang
                  </b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>

            <b-card no-body class="mb-1">
              <b-card-header
                header-tag="header"
                class="head-faq"
                role="tab"
                v-b-toggle.accordion-2
              >
                <h1>
                  Tipe bisnis seperti apa yang cocok menggunakan Usaha Serambi
                  Masjed?
                </h1>
                <span class="when-opened">
                  <font-awesome-icon icon="sort-down" />
                </span>
                <span class="when-closed">
                  <font-awesome-icon icon="sort-up" />
                </span>
              </b-card-header>
              <b-collapse
                id="accordion-2"
                accordion="my-accordion"
                role="tabpanel"
              >
                <b-card-body>
                  <b-card-text>
                    Usaha Serambi Masjed dapat digunakan oleh semua tipe dan
                    skala bisnis, dari bisnis FnB, retail, penyedia jasa, bisnis
                    yang baru dimulai, hingga bisnis yang telah memiliki ratusan
                    cabang.
                  </b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>

            <b-card no-body class="mb-1">
              <b-card-header
                header-tag="header"
                class="head-faq"
                role="tab"
                v-b-toggle.accordion-3
              >
                <h1>
                  Bagaimana cara registrasi untuk penggunaan aplikasi Usaha
                  Serambi Masjed ?
                </h1>
                <span class="when-opened">
                  <font-awesome-icon icon="sort-down" />
                </span>
                <span class="when-closed">
                  <font-awesome-icon icon="sort-up" />
                </span>
              </b-card-header>
              <b-collapse
                id="accordion-3"
                accordion="my-accordion"
                role="tabpanel"
              >
                <b-card-body>
                  <b-card-text>
                    Buka Apps Usaha Serambi Masjed > Klik Daftar Sekarang >
                    Masukan Nomor Telepon yang ingin di daftarkan > Masukan OTP
                    yang sudah dikirimkan melalui WhatsApp Anda > Masukan Data
                    Usaha dan Data Diri Pemilik Usaha > Masuk ke Aplikasi Usaha
                    Serambi Masjed
                  </b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>

            <b-card no-body class="mb-1">
              <b-card-header
                header-tag="header"
                class="head-faq"
                role="tab"
                v-b-toggle.accordion-4
              >
                <h1>Bagaimana cara masuk ke aplikasi Usaha Serambi Masjed?</h1>
                <span class="when-opened">
                  <font-awesome-icon icon="sort-down" />
                </span>
                <span class="when-closed">
                  <font-awesome-icon icon="sort-up" />
                </span>
              </b-card-header>
              <b-collapse
                id="accordion-4"
                accordion="my-accordion"
                role="tabpanel"
              >
                <b-card-body>
                  <b-card-text>
                    Buka apps Usaha Serambi Masjed > Klik Masuk/login > Masukan
                    OTP yang sudah dikirimkan melalui WhatsApp Anda > Masuk ke
                    Aplikasi Usaha Serambi Masjed
                  </b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>

            <b-card no-body class="mb-1">
              <b-card-header
                header-tag="header"
                class="head-faq"
                role="tab"
                v-b-toggle.accordion-5
              >
                <h1>
                  Fitur apa saja yang terdapat di aplikasi Usaha Serambi Masjed?
                </h1>
                <span class="when-opened">
                  <font-awesome-icon icon="sort-down" />
                </span>
                <span class="when-closed">
                  <font-awesome-icon icon="sort-up" />
                </span>
              </b-card-header>
              <b-collapse
                id="accordion-5"
                accordion="my-accordion"
                role="tabpanel"
              >
                <b-card-body>
                  <b-card-text>
                    Kegiatan yang memudahkan pelaku usaha mikro kecil dan
                    menengah dalam melakukan proses pembukuan dan pencatatan,
                    pembayaran tagihan ataupun transaksi pembelian
                  </b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>

            <b-card no-body class="mb-1">
              <b-card-header
                header-tag="header"
                class="head-faq"
                role="tab"
                v-b-toggle.accordion-6
              >
                <h1>Bagaimana cara menambahkan produk yang akan dijual ?</h1>
                <span class="when-opened">
                  <font-awesome-icon icon="sort-down" />
                </span>
                <span class="when-closed">
                  <font-awesome-icon icon="sort-up" />
                </span>
              </b-card-header>
              <b-collapse
                id="accordion-6"
                accordion="my-accordion"
                role="tabpanel"
              >
                <b-card-body>
                  <b-card-text>
                    Buka apps Usaha Serambi Masjed > Klik tanda + > Klik Tambah
                    Produk yang ada di Beranda > Masukan Produk yang ingin Anda
                    tambahkan
                  </b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>

            <b-card no-body class="mb-1">
              <b-card-header
                header-tag="header"
                class="head-faq"
                role="tab"
                v-b-toggle.accordion-7
              >
                <h1>
                  Dimanakah Saya bisa melihat Riwayat transaksi yang sudah
                  dilakukan ?
                </h1>
                <span class="when-opened">
                  <font-awesome-icon icon="sort-down" />
                </span>
                <span class="when-closed">
                  <font-awesome-icon icon="sort-up" />
                </span>
              </b-card-header>
              <b-collapse
                id="accordion-7"
                accordion="my-accordion"
                role="tabpanel"
              >
                <b-card-body>
                  <b-card-text>
                    Buka aplikasi Usaha Serambi Masjed > Klik Menu Riwayat
                  </b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>

            <b-card no-body class="mb-1">
              <b-card-header
                header-tag="header"
                class="head-faq"
                role="tab"
                v-b-toggle.accordion-8
              >
                <h1>
                  Bagaimana cara melaporkan jika ada permasalahan di aplikasi
                  Usaha Serambi Masjed ?
                </h1>
                <span class="when-opened">
                  <font-awesome-icon icon="sort-down" />
                </span>
                <span class="when-closed">
                  <font-awesome-icon icon="sort-up" />
                </span>
              </b-card-header>
              <b-collapse
                id="accordion-8"
                accordion="my-accordion"
                role="tabpanel"
              >
                <b-card-body>
                  <b-card-text>
                    Hubungi Customer Service kami di +6281211300567
                  </b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>
          </div>
        </b-col>
      </b-row>
    </div>
  </section>
</template>

<script>
import SizedBox from '../../../components/SizedBox.vue';
export default { components: { SizedBox } };
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/responsive.scss';

@mixin center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.faq {
  .title {
    @include center;
  }

  padding: 40px 0px;
  .accordion {
    .collapsed > .when-opened,
    :not(.collapsed) > .when-closed {
      display: none;
    }

    .card {
      border: none !important;
    }
    .head-faq {
      background: none !important;
      border: none !important;
      border-bottom: 1px solid #f4f4f4 !important;
      h1 {
        font-size: 16px !important;
        font-weight: bold;

        @include mobile-s {
          padding-right: 5px;
        }
      }

      span.when-opened,
      span.when-closed {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 25px;
        color: #ff8823;
      }

      span.when-opened {
        svg {
          position: relative;
          top: -5px !important;
        }
      }

      span.when-closed {
        svg {
          position: relative;
          top: 5px !important;
        }
      }
    }

    .card-body {
      background: #f8f8fc !important;
      margin: 10px;
      border-radius: 10px;
      p {
        font-size: 1rem;

        @include mobile-s {
          font-size: 0.75rem;
        }
        @include mobile-m {
          font-size: 0.95rem;
        }
        @include mobile-l {
          font-size: 1rem;
        }
      }
    }
  }
}
</style>
