<template>
  <section class="hero">
    <div class="container">
      <div class="d-none d-md-block">
        <b-row>
          <b-col md="7">
            <div class="hero-left">
              <b-col md="12">
                <img src="/img/gambar1.png" alt="" class="gambar" />
                <img src="/img/gambar2.png" alt="" class="gambar" />
              </b-col>
              <div class="title mt-3">
                <h1>Platform terbaik untuk UMKM</h1>
                <p>
                  Usaha Serambi Masjed – Sistem Aplikasi Point Of Sales (POS)
                  Serbaguna untuk Bisnis Anda yang memanfaatkan smartphone atau
                  telepon genggam sebagai sebuah alat kasir atau Point Of Sales
                  (POS) yang Mudah, Praktis, dan Lengkap.
                </p>
              </div>
              <div class="store">
                <a
                  href="https://play.google.com/store/apps/details?id=id.jos.usahaserambi"
                  target="_blank"
                >
                  <img src="/img/playstore-logo.png" alt="" />
                </a>
                <img
                  src="/img/100.png"
                  alt=""
                  style="height: 80px; margin-left: 20px"
                />
              </div>
            </div>
          </b-col>
          <b-col md="5">
            <div class="hero-right">
              <img src="/img/hero.png" alt="" />
            </div>
          </b-col>
        </b-row>
      </div>
      <div class="d-md-none d-md-block">
        <b-row>
          <b-col md="12">
            <div class="hero-right">
              <img src="/img/hero.png" alt="" />
            </div>
          </b-col>
          <b-col md="12">
            <div class="hero-left">
              <div class="wrapper-gambar-m">
                <img src="/img/gambar1.png" alt="" class="gambar-m" />
                <img src="/img/gambar2.png" alt="" class="gambar-m" />
              </div>
              <div class="title">
                <h1>Platform terbaik untuk UMKM</h1>
                <p>
                  Usaha Serambi Masjed – Sistem Aplikasi Point Of Sales (POS)
                  Serbaguna untuk Bisnis Anda yang memanfaatkan smartphone atau
                  telepon genggam sebagai sebuah alat kasir atau Point Of Sales
                  (POS) yang Mudah, Praktis, dan Lengkap.
                </p>
              </div>
              <div class="store">
                <a
                  href="https://play.google.com/store/apps/details?id=id.jos.usahaserambi"
                  target="_blank"
                >
                  <img src="/img/playstore-logo.png" alt="" />
                </a>
                <img src="/img/100.png" alt="" />
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  components: {},
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/responsive.scss';

@mixin center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero {
  padding-top: 20px;

  .hero-left {
    position: relative;
    @include center;

    .hero-title {
      @include mobile-s {
        text-align: center;
      }

      @include mobile-m {
        text-align: center;
      }

      @include mobile-l {
        text-align: left;
      }

      h1 {
        font-weight: bold;

        @include mobile-s {
          font-size: 2rem;
        }

        @include mobile-m {
          font-size: 2.5rem;
        }

        @include mobile-l {
          font-size: 2.5rem;
        }
      }

      p {
        @include mobile-s {
          font-size: 0.75rem;
        }

        @include mobile-m {
          font-size: 0.9rem;
        }

        @include mobile-l {
          font-size: 0.8rem;
        }
      }
    }
  }

  .hero-right {
    @include center;
    text-align: center;

    img {
      width: 100%;

      @include mobile-s {
        width: 65%;
      }

      @include mobile-m {
        width: 70%;
      }

      @media screen and(min-width: 481px) and (max-width: 768px) {
        width: 90%;
      }
    }
  }

  .gambar {
    display: inline-block;
    height: 200px;
    margin-right: 10px;
  }
  .wrapper-gambar-m {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    .gambar-m {
      display: inline-block;
      height: 130px;
      margin-right: 5px;
      margin-left: 5px;

      @include mobile-s {
        height: 100px;
      }

      @include mobile-m {
        height: 120px;
      }
    }
  }
}
</style>
