<template>
  <section class="partner">
    <div class="container">
      <div class="title-joinus">
        <h1>
          Ingin <strong>UMKM</strong> Anda maju? <br />
          Yuk! Gabung dengan
          <strong>Usaha serambi Masjed</strong>
        </h1>
        <SizedBox :height="30" />
        <h3>#PastiUntung</h3>
        <SizedBox :height="20" />
        <div class="store store-center">
          <a
            href="https://play.google.com/store/apps/details?id=id.jos.usahaserambi"
            target="_blank"
          >
            <img src="/img/playstore-logo.png" alt="" />
          </a>
          <!-- <img src="/img/applestore-logo.png" alt="applestore" /> -->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import SizedBox from '../../../components/SizedBox.vue';
export default { components: { SizedBox } };
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/responsive.scss';

.partner {
  background-image: url('../../../../public/img/bg-orange.png');
  // background-size: 100% 100%;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;

  .title-joinus {
    text-align: center;
    color: white;

    h1 {
      text-align: center;
      font-weight: normal;

      @include mobile-s {
        font-size: 1.5rem;
      }

      @include mobile-m {
        font-size: 1.8rem;
      }

      @include mobile-l {
        font-size: 2rem;
      }
    }

    h3 {
      font-size: 40px;
      font-weight: bold;
    }
  }

  .logo {
    position: relative;
    margin: 0 auto;
    text-align: center;

    img {
      margin: 0 auto;
      display: inline-block;
      height: 70px;
      margin: 20px 20px;
    }
  }

  .store-logo {
    text-align: center;
    img {
      display: inline-block;
      height: 80px;
      padding: 10px;
    }
  }
}
</style>
