<template>
  <section id="partner" class="partner">
    <img src="/img/slice-left-2.png" class="slice-left-2" />
    <div class="container">
      <div class="title" style="text-align: center !important">
        <h1>Partner Kami</h1>
      </div>
      <b-row>
        <b-col md="12">
          <div class="logo">
            <img src="/img/partner-linkajasyariah.png" alt="linkajasyariah" />
            <img src="/img/partner-linkaja.png" alt="linkaja" />
            <img src="/img/partner-bni.png" alt="bni" />
            <img src="/img/partner-bsi.png" alt="bsi" />
            <img src="/img/partner-elzuhra.png" alt="elzuhra" />
            <img src="/img/partner-emfi.png" alt="emfi" />
            <img src="/img/partner-bebekjos.png" alt="bebekjos" />
            <img src="/img/partner-masjedid.png" alt="masjedid" />
          </div>
        </b-col>
      </b-row>
    </div>
  </section>
</template>

<script>
export default { components: {} };
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/responsive.scss';

.partner {
  position: relative;
  padding-top: 70px;
  padding-bottom: 50px;
  .logo {
    position: relative;
    margin: 0 auto;
    text-align: center;

    img {
      margin: 0 auto;
      display: inline-block;
      height: 70px;
      margin: 20px 20px;

      @include mobile-s {
        height: 45px;
      }

      @include mobile-m {
        height: 55px;
      }

      @include mobile-l {
        height: 65px;
      }

      @include tablet {
        height: 65px;
      }
    }
  }

  .slice-left-2 {
    position: absolute;
    top: -55%;
    left: 0px;
    z-index: 1;
    height: 150%;

    @include mobile-s {
      top: -15%;
      height: 30%;
    }

    @include mobile-m {
      top: -12%;
      height: 25%;
    }

    @include mobile-l {
      top: -30%;
      height: 70%;
    }

    @include tablet {
      top: -30%;
      height: 80%;
    }
  }
}
</style>
