<template>
  <section id="selling" class="selling">
    <img src="/img/slice-love.png" class="slice-love" />
    <div class="container">
      <b-row>
        <b-col md="6">
          <div class="selling-point">
            <div class="item">
              <div class="box">
                <div class="unique">
                  <h3>Tampilan<br />Mudah<br />digunakan</h3>
                </div>
                <div class="icon">
                  <img src="/img/point-love.png" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box top">
                <div class="unique">
                  <h3>Manajemen<br />Stok<br />Online</h3>
                </div>
                <div class="icon">
                  <img src="/img/point-calendar.png" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="unique">
                  <h3>Dapat<br />digunakan<br />dimanapun</h3>
                </div>
                <div class="icon">
                  <img src="/img/point-location.png" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box top">
                <div class="unique">
                  <h3>Sistem<br />yang selalu<br />diperbarui</h3>
                </div>
                <div class="icon">
                  <img src="/img/point-alarm.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <SizedBox :height="80" />
        </b-col>
        <b-col md="6">
          <div class="title middle-center">
            <h1>Kemudahan Aplikasi Usaha Serambi Masjed</h1>
            <p>
              Sistem Point Of Sales (POS) Berbasis Seluler yang dirancang untuk
              menggatikan sistem kasir berbasis desktop untuk mobilitas yang
              lebih besar.
            </p>
          </div>
        </b-col>
      </b-row>
    </div>
    <img src="/img/slice-right-1.png" class="slice-right-1" />
  </section>
</template>

<script>
import SizedBox from '../../../components/SizedBox.vue';
export default { components: { SizedBox } };
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/responsive.scss';

.selling {
  position: relative;
  padding: 50px 0px;
  z-index: 0;

  .slice-love {
    position: absolute;
    top: -20%;
    left: -20px;
    z-index: 1;
    height: 50%;

    @include mobile-s {
      top: 0;
      left: -30px;
      height: 20%;
    }

    @include mobile-m {
      top: 0;
      height: 20%;
    }

    @include mobile-l {
      top: 0;
      height: 35%;
    }

    @include tablet {
      top: -10%;
      height: 35%;
    }
  }

  .slice-right-1 {
    position: absolute;
    bottom: -30%;
    right: 0px;
    z-index: 1;
    height: 80%;

    @include mobile-s {
      bottom: -6%;
      height: 15%;
    }

    @include mobile-m {
      bottom: -8%;
      height: 20%;
    }

    @include mobile-l {
      bottom: -20%;
      height: 55%;
    }

    @include tablet {
      bottom: -20%;
      height: 55%;
    }
  }

  &-point {
    @include center;

    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;

    .item {
      padding: 10px;
      padding-top: 40px;
      padding-bottom: 40px;

      @include mobile-s {
        padding-bottom: 0px;
      }

      @include mobile-m {
        padding-bottom: 0px;
      }

      @include mobile-l {
        padding-bottom: 0px;
      }

      .box {
        display: block;
        position: relative;
        margin: 0 auto;
        border-radius: 30px;
        width: 170px;
        height: 170px;
        background: linear-gradient(
          259.32deg,
          rgb(253, 252, 226) 6.38%,
          rgb(255, 236, 221) 92.8%
        );
        // background: #ffe9d5;
        padding-left: 60px;
        padding-top: 20px;

        @include mobile-s {
          padding-left: 30px;
          padding-top: 15px;
          width: 110px;
          height: 110px;
        }

        @include mobile-m {
          padding-left: 35px;
          padding-top: 20px;
          width: 110px;
          height: 110px;
        }

        @include mobile-l {
          padding-left: 35px;
          padding-top: 15px;
          width: 100px;
          height: 100px;
        }

        .unique {
          position: relative;
          right: 10px;
          h3 {
            font-size: 20px;
            font-weight: 700;
            text-align: right;

            @include mobile-s {
              font-size: 15px;
            }

            @include mobile-m {
              font-size: 14px;
            }

            @include mobile-l {
              font-size: 12px;
            }
          }
        }

        .icon {
          position: absolute;
          bottom: -40px;
          left: -60px;
          display: block;
          height: 130px;
          width: 130px;

          @include mobile-s {
            bottom: -20px;
            left: -25px;
            width: 65px;
            height: 65px;
          }

          @include mobile-m {
            bottom: -30px;
            left: -40px;
            width: 80px;
            height: 80px;
          }

          @include mobile-l {
            bottom: -30px;
            left: -40px;
            width: 80px;
            height: 80px;
          }

          img {
            height: 130px;
            width: 130px;
            object-fit: cover;

            @include mobile-s {
              width: 65px;
              height: 65px;
            }

            @include mobile-m {
              width: 80px;
              height: 80px;
            }

            @include mobile-l {
              width: 80px;
              height: 80px;
            }
          }
        }
      }

      .top {
        top: -40px;
      }
    }
  }
}
</style>
