<template>
  <section class="testimoni-user">
    <div class="container">
      <b-row>
        <b-col md="12">
          <div>
            <div class="title" style="text-align: center !important">
              <h1>Testimoni User Kami</h1>
            </div>
            <div class="slide-testimoni">
              <VueSlickCarousel v-bind="settings">
                <!-- box testimoni -->
                <div class="item">
                  <div class="item-content">
                    <div class="head">
                      <img src="/img/asep.png" alt="" />
                    </div>
                    <div class="body">
                      <h3>Asep</h3>
                      <SizedBox :height="10" />
                      <h5>Penjual Bebek</h5>
                      <SizedBox :height="10" />
                      <p>
                        "Saya sangat dimudahkan untuk mengatur usaha Bebek saya
                        oleh aplikasi ini"
                      </p>
                    </div>
                  </div>
                </div>

                <!-- box testimoni -->
                <div class="item">
                  <div class="item-content up">
                    <div class="head">
                      <img src="/img/silvi.png" alt="" />
                    </div>
                    <div class="body">
                      <h3>Silvi</h3>
                      <SizedBox :height="10" />
                      <h5>Penjual Jamu</h5>
                      <SizedBox :height="10" />
                      <p>
                        "Setelah saya menggunakan aplikasi Usaha Serambi ini
                        saya jadi bisa melihat berapa laba dan rugi dari hasil
                        jualan saya"
                      </p>
                    </div>
                  </div>
                </div>

                <!-- box testimoni -->
                <div class="item">
                  <div class="item-content">
                    <div class="head">
                      <img src="/img/mirna.png" alt="" />
                    </div>
                    <div class="body">
                      <h3>Mirna</h3>
                      <SizedBox :height="10" />
                      <h5>Penjual Sepatu</h5>
                      <SizedBox :height="10" />
                      <p>
                        "Dengan aplikasi Usaha Serambi ini saya jadi lebih mudah
                        untuk mengatur stok sepatu yang saya punya"
                      </p>
                    </div>
                  </div>
                </div>
              </VueSlickCarousel>
            </div>
          </div>
        </b-col>
      </b-row>
    </div>
  </section>
</template>

<script>
// Vue Slick Carousel
import VueSlickCarousel from 'vue-slick-carousel';
import 'vue-slick-carousel/dist/vue-slick-carousel.css';
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css';

import SizedBox from '../../../components/SizedBox.vue';
export default {
  components: { SizedBox, VueSlickCarousel },
  data() {
    return {
      settings: {
        arrows: false,
        dots: true,
        dotsClass: 'slick-dots testimoni-dot',
        edgeFriction: 0.35,
        infinite: true,
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 1,
        adaptiveHeight: true,
        centerMode: true,
        centerPadding: '0px',
        responsive: [
          {
            breakpoint: 769,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              centerPadding: '0px',
              infinite: false,
              centerMode: true,
            },
          },
          {
            breakpoint: 426,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              centerPadding: '50px',
            },
          },
          {
            breakpoint: 376,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              centerPadding: '0px',
            },
          },
          {
            breakpoint: 321,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              centerPadding: '0px',
            },
          },
        ],
      },
    };
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/responsive.scss';

@mixin center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.testimoni-user {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f8f8fc;

  .slide-testimoni {
    .item {
      display: block;
      padding: 0px 5px;

      .item-content {
        border-radius: 10px;

        .head,
        .body {
          padding: 10px;
        }

        .head {
          position: relative;
          margin: 0 auto;
          background: #e7e7f0;
          height: 170px;
          width: 170px;
          border-radius: 100%;
          bottom: -80px;
          z-index: 2;

          @include mobile-s {
            bottom: -70px;
            height: 140px;
            width: 140px;
          }

          img {
            position: relative;
            height: 170px;
            width: 170px;
            top: -10px;
            left: -10px;

            @include mobile-s {
              bottom: -70px;
              height: 140px;
              width: 140px;
            }
          }
        }

        .body {
          height: 286px;
          position: relative;
          background: #fff;
          padding-top: 90px;
          z-index: 1;
          border-radius: 10px;

          h3,
          h5,
          p {
            position: relative;
            margin: 0 auto;
            text-align: center;
          }

          h3 {
            font-weight: bold;
          }

          h5 {
            font-weight: normal;
            color: #cdcdcd;
          }

          p {
            font-style: italic;
            width: 80%;
            font-size: 14px;
          }
        }
      }
    }
  }
}
</style>
