<template>
  <div>
    <navbar-section></navbar-section>

    <div>
      <!-- Navbar Section -->

      <!-- Hero Section -->
      <hero-section></hero-section>

      <!-- Point Selling -->
      <point-selling-section></point-selling-section>

      <!-- Point & Easy Section -->
      <easy-use-section></easy-use-section>

      <!-- About Section -->
      <about-section></about-section>

      <!-- Testimoni User Section -->
      <testimoni-section></testimoni-section>

      <!-- Partner Section -->
      <partner-section></partner-section>

      <!-- Join Us Section -->
      <join-us-section></join-us-section>

      <!-- F.A.Q Section -->
      <faq-section></faq-section>
    </div>
    <footer-section></footer-section>
  </div>
</template>

<script>
import NavbarSection from './../../components/Navbar.vue';
import HeroSection from './beranda-section/hero-section.vue';
import PointSellingSection from './beranda-section/point-selling-section.vue';
import EasyUseSection from './beranda-section/easy-use-section.vue';
import AboutSection from './beranda-section/about-section.vue';
import TestimoniSection from './beranda-section/testimoni-section.vue';
import PartnerSection from './beranda-section/partner-section.vue';
import JoinUsSection from './beranda-section/joinus-section.vue';
import FaqSection from './beranda-section/faq-section.vue';
import FooterSection from './../../components/Footer.vue';

export default {
  components: {
    NavbarSection,
    FooterSection,
    HeroSection,
    PointSellingSection,
    EasyUseSection,
    AboutSection,
    TestimoniSection,
    PartnerSection,
    JoinUsSection,
    FaqSection,
  },
  // mounted() {
  //   var myID = document.getElementById('scrolltotop');

  //   var myScrollFunc = function () {
  //     var y = window.scrollY;
  //     if (y >= 3800) {
  //       myID.className = 'scrolltotop show';
  //     } else {
  //       myID.className = 'scrolltotop hide';
  //     }
  //   };

  //   window.addEventListener('scroll', myScrollFunc);
  // },
};
</script>
