<template>
  <div class="didalam">
    <div class="container">
      <div class="generatebox">
        <div class="row justify-content-center">
          <div class="col-8 white shadow-sm">
            <div class="form">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label><strong>URL Target</strong></label>
                    <v-select
                      :options="options.targets"
                      @input="setTarget"
                    ></v-select>
                  </div>
                </div>
                <div class="col-12 mt-3" v-if="isPayment">
                  <div class="form-group">
                    <label><strong>Program</strong></label>
                    <v-select
                      :options="options.programs"
                      @input="setProgram"
                    ></v-select>
                  </div>
                </div>
                <div class="col-6 mt-3">
                  <div class="form-group">
                    <label><strong>Channel</strong></label>
                    <v-select
                      :options="options.channels"
                      @input="setChannel"
                    ></v-select>
                  </div>
                </div>
                <div class="col-6 mt-3">
                  <div class="form-group">
                    <label><strong>Source</strong></label>
                    <v-select
                      :options="options.source"
                      @input="setSource"
                    ></v-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="linkresult">
        <div class="row justify-content-center">
          <div class="col-8 white shadow-sm">
            <div class="form">
              <div class="row">
                <div class="col-12">
                  <center><h5>Result</h5></center>
                  <div class="hasilnya">
                    <a href="javascript:void(0)">
                      {{ url }} &nbsp;
                      <span v-if="url != 'No Data'">
                        <font-awesome-icon
                          icon="fa-solid fa-copy"
                          @click="copyText"
                        />
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import vSelect from 'vue-select';
import 'vue-select/dist/vue-select.css';
import axios from '../../utils/masjidimu';

export default {
  components: {
    vSelect,
  },
  data() {
    return {
      url: '(empty link)',
      linkResult: 'No Data',
      isPayment: false,
      options: {
        targets: [],
        programs: [],
        channels: [],
        source: [],
      },
      result: {
        program: '',
        channel: '',
        source: '',
      },
      message: 'Copy These Text',
    };
  },
  methods: {
    copyText() {
      try {
        navigator.clipboard.writeText(this.url);
        this.$toasted
          .show(`berhasil disalin.`, {
            position: 'bottom-center',
          })
          .goAway(1000);
      } catch (err) {
        this.$toasted
          .show(`Oops, unable to copy.`, {
            position: 'bottom-center',
          })
          .goAway(1000);
      }
    },
    async loadTargets() {
      const targets = await axios.get(`/helper/generator-link/targets`);
      const { data } = targets.data;

      this.options.targets = data;
    },
    async loadProgram() {
      const programs = await axios.get(`/helper/generator-link/programs`);
      const { data } = programs.data;

      this.options.programs = data;
    },
    async loadChannel() {
      const channels = await axios.get(`/helper/generator-link/channels`);
      const { data } = channels.data;

      const defaultChannel = { label: 'All Payment', code: 'allpayment' };
      const bni2method = { label: 'BNI CC & VA', code: 'MIBNI|MICCAR' };

      this.options.channels.push(defaultChannel);
      this.options.channels.push(bni2method);
      data.forEach((element) => {
        this.options.channels.push(element);
      });
    },
    async loadSource() {
      const source = await axios.get(`/helper/generator-link/source`);
      const { data } = source.data;

      this.options.source = data;
    },
    setTarget(value) {
      //  trigger a mutation, or dispatch an action
      if (value) {
        var newUrl = new URL(value.code);

        // this.result.program = value.code;
        if (
          value.label == 'Halaman Pembayaran' ||
          value.label == 'Halaman Zakat' ||
          value.label == 'Halaman Sedekah' ||
          value.label == 'Halaman Wakaf' ||
          value.label == 'Halaman Akikah' ||
          value.label == 'Halaman Kurban'
        ) {
          newUrl.searchParams.set('noheader', true);
        } else {
          newUrl.searchParams.delete('noheader');
        }

        // only halaman Pembayaran
        if (value.label == 'Halaman Pembayaran') {
          this.isPayment = true;
        } else {
          this.isPayment = false;
        }

        this.url = newUrl;
      } else {
        this.url = '(empty link)';
      }
    },
    setProgram(value) {
      //  trigger a mutation, or dispatch an action
      var newUrl = new URL(this.url);

      if (value) {
        // this.result.program = value.code;
        newUrl.searchParams.set('id', value.code);
        this.result.program = value.code;
      } else {
        newUrl.searchParams.delete('id');
      }
      this.url = newUrl;
    },
    setSource(value) {
      //  trigger a mutation, or dispatch an action
      var newUrl = new URL(this.url);

      if (value) {
        // this.result.program = value.code;
        newUrl.searchParams.set('utm_source', value.code);

        this.result.source = value.code;
      } else {
        newUrl.searchParams.delete('utm_source');
      }

      this.url = newUrl;
    },
    setChannel(value) {
      //  trigger a mutation, or dispatch an action
      var newUrl = new URL(this.url);

      if (value) {
        // this.result.program = value.code;
        if (value.code != 'allpayment') {
          newUrl.searchParams.set('kbayar', value.code);
          this.result.channel = value.code;
        } else {
          newUrl.searchParams.delete('kbayar');
          this.result.channel = '';
        }
      } else {
        newUrl.searchParams.delete('kbayar');
      }

      this.url = newUrl;
    },
  },
  mounted() {
    this.loadProgram();
    this.loadChannel();
    this.loadSource();
    this.loadTargets();
  },
};
</script>

<style lang="scss" scoped>
.generatebox {
  position: relative;
  top: 50px;
}
.linkresult {
  position: relative;
  top: 70px;
}
.didalam {
  background: #fcfcfc;
  height: 100vh;
}
.white {
  background: #fff !important;
  padding: 30px;
  border-radius: 5px;
}

.btn-full {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 80% !important;
  border-radius: 50px !important;
}

.hasilnya {
  background: #feffe6;
  color: #555;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  a {
    text-decoration: none;
    color: #555;
  }
}
</style>
