<template>
  <b-navbar
    :class="{ white: scrollPosition > 100 }"
    toggleable="lg"
    type="light"
    sticky
  >
    <b-container>
      <b-navbar-brand href="#">
        <div class="serambi-logo">
          <img src="/img/logo.png" alt="" />
        </div>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ms-auto">
          <b-navbar-nav right>
            <b-nav-item href="#" @click="scrollToTop()">Beranda</b-nav-item>
            <b-nav-item href="#" v-scroll-to="'#selling'">
              Layanan Kami
            </b-nav-item>
            <b-nav-item href="#" v-scroll-to="'#about'">
              Tentang Kami
            </b-nav-item>
            <b-nav-item href="#" v-scroll-to="'#partner'">
              Partner Kami
            </b-nav-item>
            <b-nav-item href="#" v-scroll-to="'#kontak'">
              Kontak Kami
            </b-nav-item>
          </b-navbar-nav>
        </b-navbar-nav>
      </b-collapse>
    </b-container>
  </b-navbar>
</template>

<script>
export default {
  data() {
    return {
      scrollPosition: null,
    };
  },
  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY;
    },
    scrollToElement(target, options) {
      const el = this.$el.getElementById(target)[0];

      console.log(el);
      if (el) {
        el.scrollIntoView(options);
      }
    },
    scrollToTop() {
      window.scrollTo(0, 0);
    },
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll);
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/responsive.scss';

.navbar-nav {
  @include mobile-s {
    height: auto;
    padding: 10px 0px;
  }

  @include mobile-m {
    padding: 10px 0px;
  }

  @include mobile-l {
    height: auto;
    padding: 10px 0px;
  }

  @include tablet {
    height: auto;
    padding: 10px 0px;
  }

  .nav-item {
    a {
      color: #333333 !important;
      font-weight: 600;
    }
  }
}

.serambi-logo {
  img {
    display: block;
    height: 70px;

    @include mobile-s {
      height: 50px;
    }

    @include mobile-m {
      height: 50px;
    }

    @include mobile-l {
      height: 50px;
    }

    @include tablet {
      height: 50px;
    }
  }
}

.navbar-toggler {
  color: #000 !important;
  border: 1px solid #ddd !important;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
  }
}
</style>
