<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "./assets/scss/responsive.scss";

body {
  font-family: "Ubuntu", sans-serif;
  background: no-repeat url("../public/img/head-background.png");
  background-size: 100%;
}

.bg-white {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white !important;
  min-height: 100vh !important;
  padding: 10px;
}

.white {
  background: #fff !important;
}

.custom-dot-class,
.testimoni-dot {
  bottom: -30px !important;
  .slick-active {
    button {
      &::before {
        color: #ff8823 !important;
      }
    }
  }

  button {
    &::before {
      font-size: 12px !important;
    }
  }
}

.custom-dot-class {
  text-align: left !important;

  @include mobile-s {
    text-align: center !important;
  }

  @include mobile-m {
    text-align: center !important;
  }
}

.slide-testimoni {
  .slick-list {
    height: auto !important;
    padding: 50px 0px 20px 0px !important;
    @include mobile-s {
      padding: 0px !important;
    }
    @include mobile-m {
      padding: 0px !important;
    }
  }
  transition: all 0.5s ease-in-out;

  .up {
    position: relative !important;
    top: -50px !important;
    @include mobile-s {
      top: 0px !important;
    }
    @include mobile-m {
      top: 0px !important;
    }
  }
}

.title {
  @include mobile-s {
    text-align: center;
  }

  @include mobile-m {
    text-align: center;
  }

  @include mobile-l {
    text-align: left;
  }

  h1 {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;

    @include mobile-s {
      font-size: 2rem;
    }

    @include mobile-m {
      font-size: 2.5rem;
    }

    @include mobile-l {
      font-size: 2.5rem;
    }
  }

  p {
    padding: 2 0px 0px;
    @include mobile-s {
      font-size: 0.9rem;
    }

    @include mobile-m {
      font-size: 0.9rem;
    }

    @include mobile-l {
      font-size: 0.8rem;
    }
  }
}
.store-center {
  @include mobile-l {
    text-align: center !important;
  }
}

.store-small {
  img {
    display: inline-block;
    height: 38px !important;
    margin-right: 10px;

    @include mobile-l {
      height: 32px !important;
      border: 1px solid black;
    }
  }
}

.store {
  @media screen and (max-width: 320px) {
    text-align: center;
  }

  @include mobile-m {
    text-align: center;
  }

  @include mobile-l {
    text-align: left;
  }

  img {
    display: inline-block;
    height: 65px;
    margin-right: 10px;

    @include mobile-s {
      height: 38px;
    }

    @include mobile-m {
      height: 45px;
    }

    @include mobile-l {
      height: 40px;
    }

    @include tablet {
      height: 40px;
    }
  }
}

.middle-center {
  @include center;
}

.input-orange {
  position: relative;

  label {
    position: absolute;
    left: 10px;
    top: -10px;
    padding-right: 20px;
    background: white;
    font-size: 13px;
    color: #ff8823;
  }

  input,
  select,
  textarea {
    border: 1px solid #ff8823 !important;
    font-size: 13px;
    padding: 10px;
    border-radius: 10px;
  }
}

.readonly {
  background-color: #fafafa !important;
}

.btn-orange {
  background: #ff8823 !important;
  color: white !important;
  border-radius: 10px !important;
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.btn-grey {
  background: #eeeeee !important;
  color: #ff8823 !important;
  border-radius: 10px !important;
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.my-otp-input {
  display: flex;
  align-items: center;
  justify-content: center;

  .otp-input {
    width: 60px !important;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #eeeeee;
  }

  input:focus {
    border: 1px solid #ff8823 !important;
  }

  span {
    width: 10px;
    span {
      display: none;
    }
  }
}

.error {
  color: red;
  font-size: 12px;
  text-align: left !important;
  padding: 5px 10px;
}
</style>
