<template>
  <div class="bg-white" style="font-size: 13px">
    <div>
      <b-container class="bv-example-row bv-example-row-flex-cols">
        <b-row class="justify-content-md-center text-center">
          <b-col md="8" class="my-auto">
            <b-row>
              <b-col md="12 mb-5">
                <div md="12" class="mb-3">
                  <img
                    src="/img/usahaserambi-untung.png"
                    height="70"
                    style="margin-right: 20px"
                  />
                  <img src="/img/masjed.svg" height="70" />
                </div>
              </b-col>
              <b-col md="12 mb-2">
                <div md="12" class="mb-5">
                  <img src="/img/godigitalgoumkm.svg" height="60" />
                </div>
              </b-col>
              <b-col md="12" class="mb-3"> Daftar Sebagai Agen: </b-col>
              <b-col md="12" class="mb-3">
                <b-row v-if="categories.length > 0">
                  <b-col
                    cols="6"
                    sm="3"
                    lg="3"
                    md="3"
                    xl="3"
                    v-for="category in categories"
                    :key="category.id"
                  >
                    <a
                      class="child"
                      href="javascript:void(0)"
                      @click="onChange(category.id, category.name.trim())"
                    >
                      <img :src="category.image" alt="" />
                      <p>Serambi {{ category.name.trim() }}</p>
                    </a></b-col
                  >
                </b-row>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
import axios from '../../../utils/api';
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      categories: [],
    };
  },
  mounted() {
    this.actionReset();
    this.fetchCategory();
    this.getReferrral();
  },
  methods: {
    ...mapActions('register', ['setCategory', 'setReferral', 'actionReset']),
    onChange(id, jenis_usaha) {
      this.setCategory({
        category_id: id,
        category_text: jenis_usaha,
      });
      this.$router.push({ name: 'inputnumber' });
    },
    async getReferrral() {
      const referral_code = this.$route.query.refcode || null;
      if (referral_code) {
        try {
          const referral = await axios.get(
            `/superagens/referral/${referral_code}`
          );
          const { data } = referral.data;
          this.setReferral({
            code_referral: data.referral_code,
            is_code_referral: true,
            super_agen: data,
          });
        } catch (error) {
          this.$toasted
            .show('Referral Code tidak terdaftar dalam sistem.', {
              position: 'bottom-center',
            })
            .goAway(1000);
        }
      }
    },
    async fetchCategory() {
      const business_category = await axios.get('/toko/kategori_bisnis');
      const { data } = business_category.data;

      this.categories = data;
    },
  },
};
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../../../assets/scss/responsive.scss';

.us-href {
  text-decoration: none;
  color: #0097a7;
  font-weight: bold;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 10px;
  justify-items: center;
}

/* Example Only Styles */
.child {
  width: 90px;
  text-align: center;
  text-decoration: none;
  color: #333;
  vertical-align: middle;

  img {
    @include mobile-s {
      height: 50px !important;
    }

    // @include mobile-m {
    //   height: 50px !important;
    // }
  }
  p {
    @include mobile-s {
      font-size: 12px;
    }
  }
}
</style>
