<template>
  <div class="bg-white">
    <div>
      <form @submit.prevent="submitOtp" class="standar-form">
        <b-container class="bv-example-row bv-example-row-flex-cols">
          <b-row class="justify-content-md-center text-center">
            <b-col md="8" class="my-auto">
              <b-row>
                <b-col v-if="isCodeReferral">
                  <div md="12" class="mb-5">
                    Selamat Datang Mitra
                    <img :src="super_agen.logo.path" height="70" />
                  </div>
                </b-col>
                <b-col md="12" class="mb-5">
                  Daftarkan diri anda menjadi agen dari
                  <a href="javscript:void(0)" class="us-href">Usaha Serambi</a>.
                  Untuk dapat mengakses semua fitur yang akan memudahkan bisnis
                  <strong>UMKM</strong> anda.
                </b-col>
                <b-col md="12" class="mb-5">
                  <img src="/img/usahaserambi-untung.png" height="100" />
                </b-col>
                <b-col md="12" class="mb-3">
                  <div class="form-group input-orange">
                    <label for="nomortelpon">Nomor Telepon</label>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Nomor Telepon"
                      v-model="$v.nohp.$model"
                      v-number-only
                    />
                  </div>
                  <div class="error" v-if="$v.nohp.$dirty && !$v.nohp.required">
                    Nomor telepon harus diisi.
                  </div>
                </b-col>
                <b-col md="12">
                  <input
                    class="btn btn-orange"
                    type="submit"
                    value="Daftar Sekarang"
                  />
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-container>
      </form>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import axios from '../../../utils/api';
import { mapActions, mapState } from 'vuex';

export default {
  data() {
    return {
      nohp: '',
    };
  },
  validations: {
    nohp: {
      required,
    },
  },
  computed: {
    ...mapState('register', ['isCodeReferral', 'super_agen']),
  },
  methods: {
    ...mapActions('register', ['setOTPKey', 'setNoHP']),
    submitOtp() {
      this.$v.$touch();

      var target = this.nohp;
      var nope = target.indexOf('0') == 0 ? `62${target.substring(1)}` : target;

      if (!this.$v.$invalid) {
        var self = this;
        axios
          .post('/auth/getOtp', {
            nohp: nope,
            type: 'register',
          })
          .then(function (response) {
            const { data } = response.data;
            if (data.rc === '0000') {
              this.setOTPKey({ otp_key: data.data.otp_key });
              this.setNoHP({ nohp: this.nohp });
              this.$router.push({ name: 'sendotp' });
            } else {
              this.$toasted
                .show(data.message, {
                  position: 'bottom-center',
                })
                .goAway(1000);
            }
          })
          .catch(function (error) {
            const { message } = error.response.data;
            console.log('error', message);
            self.$toasted
              .show(message, {
                position: 'bottom-center',
              })
              .goAway(1000);
          });
      }
    },
  },
  directives: {
    numberOnly: {
      bind: function (el) {
        el.handler = function () {
          el.value = el.value.replace(/\D+/, '');
        };
        el.addEventListener('input', el.handler);
      },
      unbind: function (el) {
        el.removeEventListener('input', el.handler);
      },
    },
  },
};
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.us-href {
  text-decoration: none;
  color: #0097a7;
  font-weight: bold;
}
</style>
