<template>
  <div class="bg-white" style="font-size: 13px">
    <div>
      <b-container class="bv-example-row bv-example-row-flex-cols">
        <b-row class="justify-content-md-center text-center">
          <b-col md="8" class="my-auto">
            <b-row>
              <b-col v-if="isCodeReferral">
                <div md="12" class="mb-3">
                  Mitra
                  <img :src="super_agen.logo.path" height="70" />
                </div>
              </b-col>
              <b-col md="12 mb-3" v-else>
                <div md="12" class="mb-3">
                  <img src="/img/usahaserambi-untung.png" height="70" />
                </div>
              </b-col>
              <b-col md="12" class="mb-3">
                <h4 style="color: #0097a7">
                  <strong>MASUKAN KODE OTP</strong>
                </h4>
              </b-col>
              <b-col md="12" class="mb-3">
                <p>
                  Harap masukan kode OTP yang kami kirimkan <br />
                  melalui nomor telepon anda<br />
                  yang teregistrasi {{ nohp }}
                </p>
              </b-col>
              <b-col md="12" class="mb-3">
                <div class="my-otp-input">
                  <v-otp-input
                    ref="otpInput"
                    input-classes="otp-input"
                    separator="-"
                    :num-inputs="6"
                    :should-auto-focus="true"
                    :is-input-num="true"
                    @on-change="handleOnChange"
                    @on-complete="handleOnComplete"
                  />
                </div>
              </b-col>
              <b-col md="12 mb-5">
                <input class="btn btn-orange" type="button" value="Konfirmasi" @click="handleSendOtp" />
              </b-col>
              <b-col md="12">
                <p>
                  Kirim Ulang Kode
                  <span :style="`color: #d93e3e`">{{ timerText }}</span>
                </p>
              </b-col>
              <b-col md="12">
                <input
                  :disabled="sendCodeAgain"
                  @click="sendCodeOtp"
                  class="btn btn-grey"
                  type="button"
                  value="Kirim Ulang"
                  :style="`color: ${colorTimer} !important;`"
                />
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
import OtpInput from "@bachdgvn/vue-otp-input";
import axios from "../../../utils/api";
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      sendCodeAgain: false,
      timerText: "00:00",
      timerOn: true,
      colorTimer: "#ff8823",
      otp_number: "",
    };
  },
  components: {
    "v-otp-input": OtpInput,
  },
  mounted() {
    window.history.forward(1);
  },
  computed: {
    ...mapState("register", ["nohp", "otp_key", "isCodeReferral", "super_agen"]),
  },
  methods: {
    ...mapActions("register", ["setOTPKey", "setNoHP", "setOTPNumber", "setHeaderOTPKey"]),
    async sendCodeOtp() {
      const getOtp = await axios.post("/auth/getOtp", {
        nohp: this.nohp,
        type: "register",
      });
      const { data } = getOtp;
      if (data.rc === "0000") {
        this.setOTPKey({ otp_key: data.data.otp_key });
      } else {
        this.$toasted
          .show(data.message, {
            position: "bottom-center",
          })
          .goAway(1000);
      }

      this.startTimer(180);
    },
    startTimer(remaining) {
      this.sendCodeAgain = true;
      this.colorTimer = "#fff";

      var m = Math.floor(remaining / 60);
      var s = remaining % 60;

      m = m < 10 ? "0" + m : m;
      s = s < 10 ? "0" + s : s;
      this.timerText = m + ":" + s;
      remaining -= 1;

      if (remaining >= 0 && this.timerOn) {
        var self = this;
        setTimeout(function () {
          self.startTimer(remaining);
        }, 1000);
        return;
      }

      if (!this.timerOn) {
        // Do validate stuff here
        return;
      }

      // Do timeout stuff here
      this.sendCodeAgain = false;
      this.colorTimer = "#ff8823";
    },
    handleOnComplete(value) {
      this.otp_number = value;
    },
    handleOnChange(value) {
      console.log("OTP changed: ", value);
    },
    async handleSendOtp() {
      if (this.otp_number.length < 6) {
        this.$toasted
          .show("Masukan OTP Anda.", {
            position: "bottom-center",
          })
          .goAway(1000);
        return false;
      }

      try {
        const sendOtp = await axios.post("/auth/cekOtp", {
          otp_key: this.otp_key,
          otp: this.otp_number,
        });

        const { data } = sendOtp;

        if (data.rc === "0000") {
          console.log("berhasil");
        } else {
          this.$toasted
            .show(data.message, {
              position: "bottom-center",
            })
            .goAway(1000);
        }

        this.setHeaderOTPKey({
          header_otp_key: data.data.otp_key,
        });
        this.setOTPNumber({
          otp_number: this.otp_number,
        });
        this.$router.push({ name: "register" });
      } catch (error) {
        this.$toasted
          .show("OTP Not Valid", {
            position: "bottom-center",
          })
          .goAway(1000);
        return;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.us-href {
  text-decoration: none;
  color: #0097a7;
  font-weight: bold;
}
</style>
