<template>
  <div class="bg-white" style="font-size: 13px">
    <b-container>
      <form @submit.prevent="submit" class="standar-form">
        <b-row class="justify-content-md-center text-center">
          <b-col md="8">
            <b-row>
              <b-col md="12" v-if="isCodeReferral">
                <div md="12" class="mb-3">
                  Mitra
                  <img :src="super_agen.logo.path" height="70" />
                </div>
              </b-col>

              <b-col md="12" v-else>
                <div md="12" class="mb-3">
                  <img src="/img/usahaserambi-untung.png" height="70" />
                </div>
              </b-col>

              <b-col md="12" class="mb-3">
                <p>
                  Lengkapi data dibawah ini untuk menjadi agen Usaha Serambi.
                </p>
              </b-col>

              <b-col md="12" class="mb-3">
                <h4 style="color: #0097a7">
                  <strong>Data Usaha</strong>
                </h4>
              </b-col>
              <br />

              <b-col md="12" class="mb-3">
                <div class="form-group input-orange mb-2">
                  <label for="nomortelpon">Kategori Serambi</label>
                  <select
                    class="form-control"
                    type="text"
                    v-model="$v.business_category_id.$model"
                    v-if="categories.length > 0"
                    @change="onChange($event)"
                  >
                    <option value="">Kategori Serambi</option>
                    <option
                      v-for="category in categories"
                      :key="category.id"
                      :value="category.id"
                    >
                      {{ category.name }}
                    </option>
                  </select>
                </div>
                <br />

                <div class="form-group input-orange mb-2">
                  <label for="nomortelpon">Nama {{ category_text }}</label>
                  <input
                    class="form-control"
                    type="text"
                    :placeholder="`Nama ${category_text}`"
                    v-model="$v.business_parent_name.$model"
                  />
                  <div
                    class="error"
                    v-if="
                      $v.business_parent_name.$dirty &&
                      !$v.business_parent_name.required
                    "
                  >
                    Nama {{ category_text }} diisi.
                  </div>
                </div>
                <br />

                <div class="form-group input-orange mb-2">
                  <label for="nomortelpon">Alamat {{ category_text }}</label>
                  <textarea
                    class="form-control"
                    type="text"
                    :placeholder="`Alamat ${category_text}`"
                    v-model="$v.business_parent_location.$model"
                  ></textarea>
                  <div
                    class="error"
                    v-if="
                      $v.business_parent_location.$dirty &&
                      !$v.business_parent_location.required
                    "
                  >
                    Alamat {{ category_text }} diisi.
                  </div>
                </div>
                <br />

                <div class="form-group input-orange mb-2">
                  <label for="nomortelpon">Nama Usaha</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Nama Usaha"
                    v-model="$v.nama_toko.$model"
                  />
                  <div
                    class="error"
                    v-if="$v.nama_toko.$dirty && !$v.nama_toko.required"
                  >
                    Nama Usaha diisi.
                  </div>
                </div>
                <br />

                <div class="form-group input-orange mb-2">
                  <label for="nomortelpon">Tipe Bisnis</label>
                  <select
                    class="form-control"
                    type="text"
                    placeholder="Nama Usaha"
                    v-model="$v.tipe_bisnis.$model"
                  >
                    <option value="">Tipe Bisnis</option>
                    <option
                      v-for="row in typeBusiness"
                      :key="row.id"
                      :value="row.id"
                    >
                      {{ row.jenis_usaha }}
                    </option>
                  </select>
                  <div
                    class="error"
                    v-if="$v.tipe_bisnis.$dirty && !$v.tipe_bisnis.required"
                  >
                    Tipe Bisnis diisi.
                  </div>
                </div>
                <br />

                <div class="form-group" style="text-align: left !important">
                  <label for="nomortelpon"
                    ><strong>Foto Surat Keterangan Usaha</strong></label
                  >
                  <input
                    class="form-control"
                    type="file"
                    name="foto_sku"
                    @change="fileSKU"
                  />
                  <span
                    ><span style="color: #d93e3e">*</span> File .jpg atau .png
                    tidak boleh lebih dari 2Mb.</span
                  >
                </div>
              </b-col>

              <!-- DATA PEMILIK -->
              <b-col md="12" class="mb-3">
                <h4 style="color: #0097a7">
                  <strong>Data Pemilik Usaha</strong>
                </h4>
              </b-col>

              <b-col md="12" class="mb-3">
                <div class="form-group input-orange mb-2">
                  <label for="nomortelpon">Nama Pemilik</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Nama Pemilik"
                    v-model="$v.fullname.$model"
                  />
                  <div
                    class="error"
                    v-if="$v.fullname.$dirty && !$v.fullname.required"
                  >
                    Nama Pemilik diisi.
                  </div>
                </div>
                <br />

                <div class="form-group input-orange mb-2">
                  <label for="nomortelpon">E - Mail</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Alamat Email"
                    v-model="$v.email.$model"
                  />
                  <div
                    class="error"
                    v-if="$v.email.$dirty && !$v.email.required"
                  >
                    Email wajib diisi.
                  </div>
                </div>
                <br />

                <div class="form-group input-orange mb-2">
                  <label for="nomortelpon">PIN</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="PIN"
                    v-model="$v.pin.$model"
                  />
                  <div class="error" v-if="$v.pin.$dirty && !$v.pin.required">
                    PIN wajib diisi.
                  </div>
                </div>
                <br />
                <br />

                <div class="form-group input-orange">
                  <label for="nomortelpon">NIK</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="NIK"
                    v-model="$v.nik.$model"
                  />
                  <div class="error" v-if="$v.nik.$dirty && !$v.nik.required">
                    NIK wajib diisi.
                  </div>
                </div>
                <br />

                <div class="form-group" style="text-align: left !important">
                  <label for="nomortelpon"><strong>Foto KTP</strong></label>
                  <input
                    class="form-control"
                    type="file"
                    placeholder="Foto KTP"
                    name="foto_ktp"
                    @change="fileKTP"
                  />
                  <span
                    ><span style="color: #d93e3e">*</span> File .jpg atau .png
                    tidak boleh lebih dari 2Mb.</span
                  >
                </div>
                <br />
                <br />

                <div class="form-group input-orange">
                  <label for="nomortelpon">Nomor NPWP</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Nomor NPWP"
                    v-model="$v.no_npwp.$model"
                  />
                  <div
                    class="error"
                    v-if="$v.no_npwp.$dirty && !$v.no_npwp.required"
                  >
                    NPWP wajib diisi.
                  </div>
                </div>
                <br />

                <div class="form-group" style="text-align: left !important">
                  <label for="nomortelpon"><strong>Foto NPWP</strong></label>
                  <input
                    class="form-control"
                    type="file"
                    placeholder="Nama Usaha"
                    name="foto_npwp"
                    @change="fileNPWP"
                  />
                  <span
                    ><span style="color: #d93e3e">*</span> File .jpg atau .png
                    tidak boleh lebih dari 2Mb.</span
                  >
                </div>
                <br />
                <br />

                <div class="form-group" style="text-align: left !important">
                  <label for="nomortelpon"
                    ><strong>Foto Dokumen Jaminan</strong></label
                  >
                  <input
                    class="form-control"
                    type="file"
                    placeholder="Nama Usaha"
                    name="foto_dokumen_jaminan"
                    @change="fileDokumenJaminan"
                  />
                  <span
                    ><span style="color: #d93e3e">*</span> File .jpg atau .png
                    tidak boleh lebih dari 2Mb.</span
                  >
                </div>
                <br />

                <div class="form-group" style="text-align: left !important">
                  <label for="nomortelpon">
                    <strong>Foto Surat Nikah</strong>
                  </label>
                  <input
                    class="form-control"
                    type="file"
                    placeholder="Nama Usaha"
                    name="foto_surat_nikah"
                    @change="fileSuratNikah"
                  />
                  <span
                    ><span style="color: #d93e3e">*</span> File .jpg atau .png
                    tidak boleh lebih dari 2Mb.</span
                  >
                </div>
                <br />
                <br />

                <div class="form-group input-orange">
                  <label for="nomortelpon"
                    >Referral Code
                    <span style="color: #cdcdcd">( Bila Ada )</span></label
                  >
                  <input
                    :class="`form-control ${isCodeReferral ? 'readonly' : ''}`"
                    type="text"
                    placeholder="Referral Code"
                    v-model="referral_code"
                    :readonly="isCodeReferral"
                  />
                </div>
                <br />
              </b-col>
              <b-col md="12 mb-5">
                <input class="btn btn-orange" type="submit" value="Daftarkan" />
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </form>
    </b-container>
  </div>
</template>

<script>
import axios from '../../../utils/api';
import { required } from 'vuelidate/lib/validators';
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      categories: [],
      typeBusiness: [],

      nama_toko: '',
      tipe_bisnis: '',
      business_category_id: '',
      business_parent_name: '',
      business_parent_location: '',
      fullname: '',
      email: '',
      pin: '',
      nik: '',
      referral_code: '',
      no_npwp: '',

      // SKU
      foto_sku_url: '',
      foto_sku_file: '',
      // KTP
      foto_ktp_url: '',
      foto_ktp_file: '',
      // NPWP
      foto_npwp_url: '',
      foto_npwp_file: '',
      // DOKUMEN JAMINAN
      foto_dokumen_jaminan: '',
      foto_dokumen_jaminan_file: '',
      // DOKUMEN JAMINAN
      foto_surat_nikah_url: '',
      foto_surat_nikah_file: '',
    };
  },
  validations: {
    tipe_bisnis: { required },
    business_category_id: { required },
    business_parent_name: { required },
    business_parent_location: { required },
    nama_toko: { required },
    fullname: { required },
    email: { required },
    pin: { required },
    nik: { required },
    no_npwp: { required },
  },
  mounted() {
    this.fetchCategory();
    this.fetchTypeBisnis();
    window.history.forward(1);
    this.business_category_id = this.category_id;
    this.referral_code = this.super_agen.referral_code || '';
  },
  methods: {
    ...mapActions('register', ['setCategory']),
    onChange(e) {
      this.setCategory({
        category_id: e.target.value,
        category_text:
          e.target.options[e.target.options.selectedIndex].text.trim(),
      });
    },
    async fetchCategory() {
      const business_category = await axios.get('/toko/kategori_bisnis');
      const { data } = business_category.data;

      this.categories = data;
    },
    async fetchTypeBisnis() {
      const typeBisnis = await axios.get('/gettypebisnis');
      const { data } = typeBisnis.data;

      this.typeBusiness = data;
    },
    async submit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        console.log('masuk');
        /**
         *  END VALIDATIONS
         */

        if (this.isEmpty(this.foto_sku_url)) {
          this.message('Foto SKU harus diupload.');
          return;
        }

        if (this.isEmpty(this.foto_ktp_url)) {
          this.message('Foto KTP harus diupload.');
          return;
        }

        if (this.isEmpty(this.foto_npwp_url)) {
          this.message('Foto NPWP harus diupload.');
          return;
        }

        if (this.isEmpty(this.foto_dokumen_jaminan_url)) {
          this.message('Foto Dokumen Jaminan harus diupload.');
          return;
        }

        const formData = new FormData();
        formData.append('nama_toko', this.nama_toko);
        formData.append('tipe_bisnis', this.tipe_bisnis);
        formData.append('business_category_id', this.business_category_id);
        formData.append('business_parent_name', this.business_parent_name);
        formData.append(
          'business_parent_location',
          this.business_parent_location
        );
        formData.append('fullname', this.fullname);
        formData.append('email', this.email);
        formData.append('otp', this.otp_number);
        formData.append('pin', this.pin);
        formData.append('nik', this.nik);
        formData.append('npwp', this.no_npwp);
        formData.append('no_telp', this.nohp);
        formData.append('referral_code', this.referral_code);

        if (this.foto_sku_file) formData.append('foto_sku', this.foto_sku_file);
        if (this.foto_ktp_file) formData.append('foto_ktp', this.foto_ktp_file);

        if (this.foto_npwp_file) {
          formData.append('foto_npwp', this.foto_npwp_file);
        }

        if (this.foto_dokumen_jaminan_file) {
          formData.append(
            'foto_dokumen_jaminan',
            this.foto_dokumen_jaminan_file
          );
        }

        if (this.foto_surat_nikah_file) {
          formData.append('foto_surat_nikah', this.foto_surat_nikah_file);
        }

        try {
          const sendDocument = await axios.post(
            `/auth/registerWebOtp`,
            formData
          );
          const { data } = sendDocument;

          if (data.rc === '0000') {
            this.$router.push({ name: 'thanks' });
          } else {
            throw data.message;
          }
        } catch (error) {
          this.message('Failed register member: User already registered');
        }
      } else {
        console.log('tidak masuk');
      }
    },
    fileSKU(e) {
      const file = e.target.files[0];
      this.foto_sku_url = URL.createObjectURL(file);
      this.foto_sku_file = file;
    },
    fileKTP(e) {
      const file = e.target.files[0];
      this.foto_ktp_url = URL.createObjectURL(file);
      this.foto_ktp_file = file;
    },
    fileNPWP(e) {
      const file = e.target.files[0];
      this.foto_npwp_url = URL.createObjectURL(file);
      this.foto_npwp_file = file;
    },
    fileDokumenJaminan(e) {
      const file = e.target.files[0];
      this.foto_dokumen_jaminan_url = URL.createObjectURL(file);
      this.foto_dokumen_jaminan_file = file;
    },
    fileSuratNikah(e) {
      const file = e.target.files[0];
      this.foto_surat_nikah_url = URL.createObjectURL(file);
      this.foto_surat_nikah_file = file;
    },
    message(message) {
      this.$toasted
        .show(message, {
          position: 'bottom-center',
        })
        .goAway(1000);
    },
    isEmpty(str) {
      return str === null || str.match(/^ *$/) !== null;
    },
  },
  computed: {
    ...mapState('register', [
      'isCodeReferral',
      'category_text',
      'category_id',
      'nohp',
      'otp_number',
      'otp_key',
      'super_agen',
    ]),
  },
};
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.us-href {
  text-decoration: none;
  color: #0097a7;
  font-weight: bold;
}

.register-input {
  margin-bottom: 18px;
}
</style>
