<template>
  <div class="bg-white" style="font-size: 13px">
    <div>
      <b-container class="bv-example-row bv-example-row-flex-cols">
        <b-row class="justify-content-md-center text-center">
          <b-col md="8" class="my-auto">
            <b-row>
              <b-col>
                <div md="12" class="mb-3">
                  Mitra
                  <img :src="super_agen.logo.path" height="70" />
                </div>
              </b-col>
              <b-col md="12" class="mb-3">
                <h4 style="color: #0097a7">
                  <strong>Terima Kasih</strong>
                </h4>
              </b-col>
              <b-col md="12" class="mb-3">
                <p>
                  Karena telah mendaftarkan usaha anda menjadi agen
                  <span style="color: #0097a7 !important">
                    <strong> Usaha Serambi </strong>
                  </span>
                  .
                  <br />
                  Sekarang anda dapat menikmati segala fasilitas yang dapat
                  <br />
                  memudahkan bisnis UMKM anda dengan cara mendownload aplikasi
                  <span style="color: #0097a7 !important">
                    <strong> Usaha Serambi </strong>
                  </span>
                  .
                </p>
              </b-col>
              <b-col md="12">
                <img src="/img/usahaserambi-untung.png" height="100" />
                <p class="mb-2 mt-5">Download Sekarang Di:</p>
                <div class="img-playstore">
                  <img src="/img/playstore-logo.png" height="45" />
                  <img src="/img/applestore-logo.png" height="45" />
                </div>
              </b-col>
              <b-col md="12"> </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  mounted() {
    this.actionReset();
  },
  methods: {
    ...mapActions('register', ['actionReset']),
  },
  computed: {
    ...mapState('register', ['isCodeReferral', 'super_agen']),
  },
};
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.us-href {
  text-decoration: none;
  color: #0097a7;
  font-weight: bold;
}
</style>
